<div class="container">
<h1 class="h1 display-6 text-left mt-4 text-light bg-dark">Add Profile Form</h1>
<form action="" method="POST" enctype="multipart/form-data">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputfile">Photo</label>
      <input type="file" class="form-control" placeholder="upload pic" name="photo">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Name</label>
      <input type="text" class="form-control" placeholder="enter your name" name="name">
    </div>
  <div class="form-group col-md-6">
    <label for="inputAddress">Phone Number</label>
    <input type="text" class="form-control" placeholder="enter mobile number" name="phonenumber">
  </div>
  <div class="form-group col-md-6">
    <label for="inputAddress2">Company</label>
    <input type="text" class="form-control" placeholder="enter your company" name="company">
  </div>
   <div class="form-group col-md-6">
    <label for="inputAddress2">Location</label>
    <input type="text" class="form-control" placeholder="enter your location" name="location">
  </div>
    <div class="form-group col-md-6">
      <label for="inputCity">Education</label>
      <input type="text" class="form-control" id="inputCity" name="education" name="education">
    </div>
  <button type="submit" class="btn btn-dark float-right">Submit</button>
  </div>
</form>

</div>