<div class="col-md-6 offset-3 mt-2">
    {{#if success_msg}}
   <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>{{success_msg}}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
    {{/if}}
    {{#if errors_msg}}
    <div class="bg-danger text-danger m-2">{{errors_msg}}</div>
    {{/if}}
</div>